.clear {
    clear: both;
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .site{
    width:1200px;
    font-family: 'Oswald', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    line-height: 20px;
  }
  .site .sol{
    width:300px;
    display:inline-block;
  }
  .site .sol .sol-ust .img img{
    float:left;
    width:200px;
    height: 200px;
    border-radius: 150px;
    margin-bottom: 15px;
  }
  .site .sol .sol-alt ul li a{
    text-decoration: none;
    color: #ff000a;
    
  }
  .site .sol .sol-alt ul li{
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 20px;  
  }
  .site .sag{
    width: 900px;
    float: right;
    display:inline-block;
  } 
 .site .sag h2{
  color:#ff000a;
  margin-bottom: 20px;
  margin-top:8px;
 }
.site .sag .hakkimda h6{
  
  border-bottom: 1px solid gainsboro; 
  color: grey;
  margin-bottom: 8px;
  margin-top:8px;
}
.site .footer{
    float:left;
    color:#ff000a;
    border-top: 2px solid gainsboro; 
    margin-top:50px;
    padding-top:15px;
    font-size: 12px;
    width:100%;
  
  }


  